<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Capption</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class ="home-icon" aria-label="home icon" routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
</p>

<p>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
    intent="WELCOME"
    intent="contraseña"
    chat-title="Capption bot"
    agent-id="05cd6d70-01b3-4808-b82c-99402e6d7431"
    chat-icon="https://i.imgur.com/R5vkPuV.jpg"
    language-code="es"
    wait-open
  ></df-messenger>
